<nav class="navbar" style="height: 6%; background-color: #6c7b69;">
    <div class="left">
        <div class="logo-container">
            <img src="./assets/images/logo_welcome.png" class="loguito" alt="Gourmet Imports" />
        </div>
    </div>
</nav>

<div class="content" style="background-color: #F4F1E6; padding: 20px;">
    <div class="alimentacionsegura" 
        style="background-color: #D2CDBB; padding-bottom:20px; margin-top: 20px; border-radius: 10px;">
        <h2 style="font-size: 30px; margin-left: 5%; color: #5B7056; padding: 20px;">{{ 'SECURE FOOD' | oTranslate }}</h2>
        <div class="image-container">
            <a id="myLink" href="#" (click)="gotoProducts()"
                style="text-decoration: none; display: flex; justify-content: center;padding-bottom: 40px;">
                <o-image attr="image"
                    style="text-decoration: none; display: flex; justify-content: center;padding-bottom:40px; padding-top: 40px;"
                    data="./assets/images/farm_fresh.png" auto-fit="true" enabled="false" read-only="false"
                    show-controls="no" full-screen-button="false" empty-image="./assets/images/no-image.png">
                </o-image>
                <o-image attr="image" data="./assets/images/glutenfree.png" auto-fit="true" enabled="false"
                    read-only="false" show-controls="no" full-screen-button="false"
                    empty-image="./assets/images/no-image.png">
                </o-image>
                <o-image attr="image" data="./assets/images/vegan.png" auto-fit="true" enabled="false" read-only="false"
                    show-controls="no" full-screen-button="false" empty-image="./assets/images/no-image.png">
                </o-image>
                <o-image attr="image" data="./assets/images/organic_food.png" auto-fit="true" enabled="false"
                    read-only="false" show-controls="no" full-screen-button="false"
                    empty-image="./assets/images/no-image.png">
                </o-image>
            </a>
        </div>
    </div>
    <!-- <div class="alimentacionsegura"
        style="background-color: #D2CDBB; padding: 10px; margin-top: 20px; border-radius: 10px;">
        <h2 style="font-size: 30px; margin-left: 5%; color: #5B7056; padding: 20px;">{{ 'GROUP_BUY' | oTranslate }}</h2>
        <div class="image-container">
            <a id="myLink" href="#" (click)="gotoProducts()"
                style="text-decoration: none; display: flex; justify-content: center;padding-bottom: 40px;">
                <o-image attr="image" data="./assets/images/7_1.png" auto-fit="true" enabled="false" read-only="false"
                    show-controls="no" full-screen-button="false" empty-image="./assets/images/no-image.png">
                </o-image>
                <o-image attr="image" data="./assets/images/27.png" auto-fit="true" enabled="false" read-only="false"
                    show-controls="no" full-screen-button="false" empty-image="./assets/images/no-image.png">
                </o-image>
                <o-image attr="image" data="./assets/images/10.png" auto-fit="true" enabled="false" read-only="false"
                    show-controls="no" full-screen-button="false" empty-image="./assets/images/no-image.png">
                </o-image>
                <o-image attr="image" data="./assets/images/25.png" auto-fit="true" enabled="false" read-only="false"
                    show-controls="no" full-screen-button="false" empty-image="./assets/images/no-image.png">
                </o-image>
            </a>
        </div>
    </div> -->

    <div class="grid-container"
        style="background-color: #D2CDBB; padding: 20px;padding-bottom:30px; border-radius: 10px;">
        <span>
            <h1 style="font-size: 40px; color: #5B7056;">{{ 'FEATURED' | oTranslate }}</h1>
        </span>
        <o-grid #grid attr="grid" service="products" entity="featuredproduct" columns="id;{{currentLang}}_name;image;price" keys="id"
            cols="4" query-rows="12" show-page-size="false" orderable="false" quick-filter="false"
            grid-item-height="1:1.3" sortable-columns="{{currentLang}}_name" sort-column="" controls="true" refresh-button="false"
            insert-button="false" pagination-controls="false" gutter-size="1px" fixed-header="no" show-footer="false"
            [ngStyle]="{'height':'600px' }" detail-form-route="./sectionfood">
            <o-grid-item *ngFor="let list of grid.dataArray">
                <a id="myLink" href="/main/sectionfood/{{ list.id }}?isdetail=true" style="text-decoration: none;">
                    <o-column class="container-item">
                        <o-image [data]="list.image" auto-fit="true" enabled="false" read-only="true" show-controls="no"
                            full-screen-button="false" empty-image="./assets/images/no-image.png"></o-image>
                        <h4 style="font-size: 15px; color: #5B7056;">{{ currentLang == 'en' ? list.en_name: list.es_name }} <br> {{ list.price }} € </h4>
                    </o-column>
                </a>
            </o-grid-item>
        </o-grid>
    </div>
</div>
<div id="footer" class="footer-container" style="background-color:#6c7b69;; text-align: center; padding: 10px;">
    <div fxLayout="row" fxLayoutAlign="center center">
        <span class="footer-text" style="font-family: 'Arial', sans-serif; font-size: 16px; color: #D2CDBB;">&copy;
            {{ 'GROUP A' |  oTranslate }}
            2023</span>
    </div>
</div>