<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", ">
    <mat-tab-group fxFill>
        <mat-tab label="{{ 'DATA' | oTranslate }}">
            <o-form #form attr="products_form_edit" service="products" entity="product" fxLayout="column"
                show-header="yes" header-actions="R;I;U;D" #oDetailForm keys="id" keys-sql-types="INTEGER" columns="id"
                show-header-navigation="yes" (onDataLoaded)="onDataLoaded($event)">

                <div o-form-toolbar-buttons>
                    <button type="button" class="o-form-toolbar-button" mat-stroked-button attr="fillreport">
                        <mat-icon>description</mat-icon>
                        <span>{{ 'FILL_REPORT' | oTranslate }}</span>
                    </button>
                </div>

                <o-row attr="row1" title="PRODUCT_DATA" icon="person_pin">
                    <div fxLayout="row wrap" fxLayoutGap="14px" fxFill>
                        <o-image attr="image" empty-image="./assets/images/no-image.png" width="350px"
                            full-screen-button="true" sql-type="base64"></o-image>
                        <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
                            <o-text-input attr="es_name" width="100%" class="form-field"></o-text-input>
                            <o-textarea-input attr="es_description_short" width="40%"
                                class="form-field"></o-textarea-input>
                            <o-textarea-input attr="es_description_long" width="40%"
                                class="form-field"></o-textarea-input>
                        </div>
                    </div>
                </o-row>
                <o-row attr="row2">
                    <div fxLayout="row wrap" fxLayoutGap="14px" fxFill>
                        <o-currency-input attr="PRICE" label="PRICE"></o-currency-input>
                        <o-combo attr="country_id" query-on-init="no" query-on-bind="yes" filter="yes" value-column="id"
                            service="countries" entity="country" keys="id" columns="id;en_name"
                            visible-columns="en_name" class="form-field">
                        </o-combo>
                        <o-slide-toggle attr="featured" label="FEATURED" read-only="no">
                        </o-slide-toggle>
                    </div>
                </o-row>
                <o-row attr="row3">
                    <div fxLayout="row wrap" fxLayoutGap="14px" fxFill>
                        <o-slide-toggle attr="al_altramuces" label="LUPINS" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_apio" label="Apio" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_cacahuetes" label="Cacahuetes" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_crustaceos" label="Crustaceos" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_cascara" label="Cáscara" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_gluten" label="Gluten" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_huevo" label="Huevo" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_leche" label="Leche" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_moluscos" label="Moluscos" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_mostaza" label="Mostaza" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_pescado" label="Pescado" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_sesamo" label="Sesamo" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_soja" label="Soja" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_sulfitos" label="Sulfitos" read-only="no"></o-slide-toggle>
                        <o-slide-toggle attr="al_vegano" label="NOT FOR VEGANS" read-only="no"></o-slide-toggle>
                    </div>
                </o-row>
            </o-form>
        </mat-tab>
    </mat-tab-group>

</o-form-container>