<o-form-container breadcrumb="no" breadcrumb-label-columns="name" breadcrumb-separator=", ">

  <o-form #oForm attr="sales_pay_edit" service="saleordersh" entity="saleordersh" fxLayout="column" show-header="yes"
      header-actions="R" keys="id" keys-sql-types="INTEGER" editable-detail="no" columns="id;dest_address" show-header-navigation="no"
      (onDataLoaded)="onDataLoaded($event)">
      <o-integer-input attr="id" oHidden></o-integer-input>
      <o-integer-input attr="salestatus" oHidden></o-integer-input>
      <o-column layout-gap="50px">

          <o-column layout-gap="20px">
              <o-row layout-gap="20px">
                  <o-column style="background-color:#a6b4a1; ;margin-top: 10px; border-radius: 10px;
                  text-align: center;" title="SALEORDER_DATA" icon="checklist"
                      layout-align="start" layout-gap="10px" fxFlex="30">
                      <o-row>
                        <o-column fxFlex="70" layout-align="start start">
                            {{ 'SALEORDERNUMBER' | oTranslate }}...
                        </o-column>
                        <o-column fxFlex="30" layout-align="start end">
                            {{  oForm.getDataValue('id').value | oReal: {grouping: true, minDecimalDigits: 0, maxDecimalDigits: 0 } }}
                            
                        </o-column>
                    </o-row>
                      <o-row>
                          <o-column fxFlex="70" layout-align="start start">
                              {{ 'SUBTOTAL' | oTranslate }}...
                          </o-column>
                          <o-column fxFlex="30" layout-align="start end">
                              {{ salesubtotal | oReal: { grouping: true, minDecimalDigits: 2, maxDecimalDigits: 2 } }}
                              €
                          </o-column>
                      </o-row>
                      <o-row>
                          <o-column fxFlex="70" layout-align="start start">
                              {{ 'TAXES' | oTranslate }}...
                          </o-column>
                          <o-column fxFlex="30" layout-align="start end">
                              {{ saletaxes | oReal: { grouping: true, minDecimalDigits: 2, maxDecimalDigits: 2 } }} €
                          </o-column>
                      </o-row>
                      <o-row>

                          <o-column fxFlex="70" layout-align="start start">
                              {{ 'TRANSPORT' | oTranslate }}...
                          </o-column>
                          <o-column fxFlex="30" layout-align="start end">
                              {{ saletransport | oReal: { grouping: true, minDecimalDigits: 2, maxDecimalDigits: 2 }
                              }} €
                          </o-column>
                      </o-row>
                      <div class="diagonal-bar">
                          <p></p>
                      </div>
                      <o-row>
                          <o-column fxFlex="70" layout-align="start start">
                              <span style="font-weight: bold;">{{ 'SALEORDER_TOTAL' | oTranslate }}...</span>
                          </o-column>
                          <o-column fxFlex="30" layout-align="start end">
                              <span style="font-weight: bold;">{{ saletotal | oReal: { grouping: true,
                                  minDecimalDigits:
                                  2, maxDecimalDigits: 2 } }} €</span>
                          </o-column>
                      </o-row>

                  </o-column>
                  <o-column title="DEST_ADDRESS" icon="home" layout-gap="20px" fxFlex="70">
                      <o-row layout-gap="14px">
                          <o-text-input attr="dest_name" label="NAME" width="100%" class="form-field"></o-text-input>
                          <o-text-input attr="dest_surname" label="SURNAME" width="100%" class="form-field"></o-text-input>
                      </o-row>
                      <o-row>
                          <o-text-input attr="dest_address" label="DEST_ADDRESS" width="100%"
                              class="form-field"></o-text-input>
                      </o-row>
                      <o-row layout-gap="20px">
                          <o-text-input attr="dest_cp" label="DEST_CP" class="form-field"></o-text-input>
                          <o-text-input attr="dest_city" label="DEST_CITY" class="form-field"
                              class="form-field"></o-text-input>
                          <o-combo attr="country_id" query-on-init="no" query-on-bind="yes" filter="yes" label="COUNTRY"
                              value-column="id" service="countries" entity="country" keys="id" columns="id;{{currentLang}}_name"
                              visible-columns="{{currentLang}}_name" class="form-field">
                          </o-combo>
                      </o-row>
                  </o-column>
              </o-row>
              <o-row>
                  <o-column *ngIf="payed()" attr="row1" title="PAYED" icon="credit_card" layout-gap="20px" fxFlex="100">
                    
                  </o-column>
                  <o-column *ngIf="!payed()" attr="row1" title="UNPAYED" icon="credit_card" layout-gap="20px" fxFlex="100">
                    <o-row fxFlex="30" ><o-button icon="credit_card" type="STROKED" attr="" label="BACKTOPAY" layout-padding color="accent"
                (onClick)="proceedToPay()"></o-button></o-row>
                </o-column>
              </o-row>
              <o-row>
                <o-column title="PENDIENTE" icon="local_shipping" layout-gap="20px" fxFlex="100">
                </o-column>
            </o-row>
          </o-column>
           <o-table fxFlex service="saleordersl" entity="saleordersl" parent-keys="saleordersh_id:id"
              columns="image;{{currentLang}}_name;qty;saleordersl_price;total"
              visible-columns="image;{{currentLang}}_name;qty;saleordersl_price;total" insert-button="no" query-rows="10" pagination-controls= "no" quick-filter="no" refresh-button="false" delete-button= "false" >
              <o-table-column attr="image" title="IMAGE" orderable="no" searchable="no" type="image" avatar="yes"
                  empty-image="assets/images/no-image.png" image-type="base64" sql-type="base64"></o-table-column>
              <o-table-column attr="{{currentLang}}_name" title="NAME" content-align="start"></o-table-column>
              <o-table-column attr="qty" title="QTY" class="o-table-column-right" type="integer">
              </o-table-column>
              <o-table-column attr="saleordersl_price" title="PRICE" type="currency" currency-symbol="€"
                  currency-symbol-position="right" thousand-separator="." decimal-separator=",">
              </o-table-column>
              <o-table-column attr="total" title="TOTAL" type="currency" currency-symbol="€"
                  currency-symbol-position="right" thousand-separator="." decimal-separator=",">
              </o-table-column>
          </o-table>


      </o-column>
  </o-form>

</o-form-container>