o-form{
    background-color: #D2CDBB;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.diagonal-bar {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  
}