<div class="bannerfood">
  <nav class="navbar" style="height: 36px; border-radius: 10px; background-color: #6c7b69">
    <div class="left">
      <div class="logo-container">
        <img src="./assets/images/logo_welcome.png" class="loguito" alt="Gourmet Imports" />
      </div>
    </div>
  </nav>
</div>

<o-form #formFilter editable-detail="yes" show-header="no">
  <div class="content" style="background-color: #f4f1e6; padding: 20px">
    <div style="
        background-color: #d2cdbb;
        padding: 20px;
        padding-bottom: 30px;
        border-radius: 10px;
        height: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      ">
      <!-- filtros -->
      <o-column-collapsible title="FILTERS_PRODUCTS" appearance="legacy" expanded="yes" icon="filter_list"
        class="collapsible">
        <div class="filter_style" fxLayout="column" fxLayoutGap="14px">
          <div fxLayout="row wrap" fxLayoutGap="32px">
            <div fxLayout="column" fxLayoutAlign="start">
              <o-slide-toggle attr="al_altramuces" label="ALTRAMUCES" read-only="no"></o-slide-toggle>
              <o-slide-toggle attr="al_apio" style="margin-top: 15px" label="APIO" read-only="no"></o-slide-toggle>
            </div>
            <div fxLayout="column" fxLayoutAlign="start">
              <o-slide-toggle attr="al_cacahuetes" label="CACAHUETES" read-only="no"></o-slide-toggle>
              <o-slide-toggle attr="al_crustaceos" style="margin-top: 15px" label="CRUSTACEOS"
                read-only="no"></o-slide-toggle>
            </div>
            <div fxLayout="column" fxLayoutAlign="start">
              <o-slide-toggle attr="al_cascara" label="CASCARA" read-only="no"></o-slide-toggle>
              <o-slide-toggle attr="al_gluten" style="margin-top: 15px" label="GLUTEN" read-only="no"></o-slide-toggle>
            </div>
            <div fxLayout="column" fxLayoutAlign="start">
              <o-slide-toggle attr="al_huevo" label="HUEVO" read-only="no"></o-slide-toggle>
              <o-slide-toggle attr="al_leche" style="margin-top: 15px" label="LACTEOS" read-only="no"></o-slide-toggle>
            </div>
            <div fxLayout="column" fxLayoutAlign="start">
              <o-slide-toggle attr="al_moluscos" label="MOLUSCOS" read-only="no"></o-slide-toggle>
              <o-slide-toggle attr="al_mostaza" style="margin-top: 15px" label="MOSTAZA"
                read-only="no"></o-slide-toggle>
            </div>
            <div fxLayout="column" fxLayoutAlign="start">
              <o-slide-toggle attr="al_pescado" label="PESCADO" read-only="no"></o-slide-toggle>
              <o-slide-toggle attr="al_sesamo" style="margin-top: 15px" label="SESAMO" read-only="no"></o-slide-toggle>
            </div>
            <div fxLayout="column" fxLayoutAlign="start">
              <o-slide-toggle attr="al_soja" label="SOJA" read-only="no"></o-slide-toggle>
              <o-slide-toggle attr="al_sulfitos" style="margin-top: 15px" label="SULFITOS"
                read-only="no"></o-slide-toggle>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="32px">
            <o-slide-toggle attr="al_vegano" label="NOT FOR VEGANS" read-only="no"></o-slide-toggle>
            <o-combo #category_id attr="category_id" label="CATEGORY" read-only="no" service="categories"
              entity="category" columns="id;{{ currentLang }}_name" value-column="id" keys="id"
              visible-columns="{{ currentLang }}_name" sql-type="INTEGER" fxFlex="calc(25% - 32px)"></o-combo>
            <o-combo #country_id attr="country_id" label="COUNTRY" read-only="no" service="countries" entity="country"
              columns="id;{{ currentLang }}_name" value-column="id" keys="id" visible-columns="{{ currentLang }}_name"
              sql-type="INTEGER" fxFlex="calc(25% - 32px)"></o-combo>
          </div>
          <!-- visible-columns="{{ 'es_name' | oTranslate }}" -->
          <div fxLayout="row" fxLayoutGap="32px">
            <div fxFlex="100%" fxFill class="filter_btn" fxLayoutAlign="flex-end flex-end">
              <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="STROKED" label="Clear" layout-padding>
              </o-button>
              <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="STROKED" label="Filter"
                layout-padding>
              </o-button>
              <o-filter-builder-menu [oFilterBuilder]="filterBuilder" show-filter-option="no"
                show-clear-filter-option="no" layout-padding></o-filter-builder-menu>
            </div>
          </div>
        </div>
        <o-filter-builder #filterBuilder attr="thefilter"
          filters="al_altramuces:al_altramuces;al_cacahuetes:al_cacahuetes;al_cascara:al_cascara;al_huevo:al_huevo;al_moluscos:al_moluscos;al_pescado:al_pescado;al_apio:al_apio;al_crustaceos:al_crustaceos;al_gluten:al_gluten;al_leche:al_leche;al_mostaza:al_mostaza;al_sesamo:al_sesamo;al_soja:al_soja;al_sulfitos:al_sulfitos;al_vegano:al_vegano;country_id:country_id;category_id:category_id"
          [target]="grid" [expression-builder]="createFilter"></o-filter-builder>
      </o-column-collapsible>

      <!-- grid de productos -->
      <o-grid #grid attr="grid" service="products" entity="product"
        columns="id;{{ currentLang }}_name;image;price;category_id;country_id" keys="id" cols="4" show-page-size="false"
        orderable="false" quick-filter="false" grid-item-height="1:1.3" sortable-columns="{{ currentLang }}_name"
        sort-column="" controls="true" refresh-button="false" insert-button="false" pagination-controls="true"
        gutter-size="10px" fixed-header="no" show-footer="true" [ngStyle]="{ height: '600px' }" quick-filter="yes"
        quick-filter-columns="{{ currentLang }}_name;price">
        <o-grid-item *ngFor="let list of grid.dataArray">
          <o-column>
            <o-row layout-padding class="container-item">
              <div>
                <a id="myLink" href="/main/sectionfood/{{ list.id }}?isdetail=true" style="text-decoration: none">
                  <o-image [data]="list.image" enabled="true" read-only="true" show-controls="no"
                    full-screen-button="no" empty-image="./assets/images/no-image.png"></o-image>
                </a>
              </div>
            </o-row>
            <o-row>
              <h4 style="font-size: 15px; color: #5b7056">
                {{ currentLang == "en" ? list.en_name : list.es_name }}
              </h4>
            </o-row>
            <o-row layout-gap="48%">
              <o-column><span style="padding-left: 1.5em;">{{ list.price }} €</span></o-column>
              <o-column>
                <o-button label="" class="carro" icon="shopping_cart" display="flex"
                  (click)="addToCart(list.id, list.price)"></o-button>
              </o-column>
            </o-row>
          </o-column>
        </o-grid-item>
      </o-grid>
    </div>
  </div>
</o-form>

<div id="footer" class="footer-container" style="background-color: #6c7b69; text-align: center; padding: 10px">
  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="footer-text" style="font-family: 'Arial', sans-serif; font-size: 16px; color: #d2cdbb">&copy;
      {{ "GROUP A" | oTranslate }}
      2023</span>
  </div>
</div>