  h2, h4 {
    margin-left: 6%;
  }
/* .content{
  margin-top: 40px;
overflow: hidden !important; */
/* } */

  .bannerfood{
    height:110px;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .logo-container {
    /* display: flex; */
    align-items: center;
    /* height: 18%; */
  }
  
  .loguito {
    /* width: 80%; */
    height: 150px;
    /* padding-top: 50px; */
    /* margin-left: 50px; */
    margin-top: 57px;
  }
  
  .grid-container {
    background-color: #D2CDBB;
    padding: 20px;
    /* margin-top: 20px; */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden !important;
  }

  .carrito{
    width: 112px;
    padding-top: 15px;
    color: rgb(87, 38, 38)
  }
  .carro{
    width: 112px;
  }
    

  /* .footer-container {
    background-color: #A6D785;
    margin-right: 2%;
    margin-left: 0px;
  } */
  .footer-container{
    background-color: #6c7b69; 
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

  
  .footer-text {
    color: #D2CDBB;
  }
  

  
 
  