<div class="container wholesaler-detail">
  <!-- necesitamos un oform para manejar los filtros -->
  <o-form #formFilter editable-detail="yes" show-header="no">

    <!-- aqui metemos un tab para las distintas opciones  -->
    <mat-tab-group fxFill>
      <!-- tab de resumen de ventas con los gráficos -->
      <mat-tab label="{{ 'SUMMARY' | oTranslate }}">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="max-height">
          <div fxLayout="row">
            <o-column title="{{ 'SALES_INFO' | oTranslate }}" class="account-info-container mat-elevation-z1"
              fxFlex="50">
              <span class="account-form-label balance">{{ 'TOTAL SALES' | oTranslate }} {{currentYear}}</span>
              <span class="account-form-value balance">{{ totalsales | oReal: { grouping: true, minDecimalDigits: 2,
                maxDecimalDigits: 2 } }} €</span>
              <div class="balance-border"></div>
              <o-chart type="discreteBar" x-label="Axis x" y-label="Axis Y" service="wholesalers" entity="wholesalersalesthisyear"
                x-axis="salemonth" y-axis="totalsales"></o-chart>

            </o-column>
            <o-column title="{{ 'SALES_INFO_2' | oTranslate }}" class="account-info-container mat-elevation-z1"
              fxFlex="50">
              <span class="account-form-label balance">{{ 'TOTAL SALES' | oTranslate }} {{currentYear -1}}</span>
              <span class="account-form-value balance">{{ pastTotalsales | oReal: { grouping: true, minDecimalDigits: 2,
                maxDecimalDigits: 2 } }} €</span>
              <div class="balance-border"></div>
              <o-chart #ochart type="discreteBar" x-label="Mes" y-label="Importe (€)" layout-fill service="wholesalers"
                entity="wholesalersalespreviusyear" x-axis="salemonth" y-axis="totalsales"
                x-data-type="Month"></o-chart>
            </o-column>
          </div>
        </div>

      </mat-tab>



      <!-- tab con las ventas -->
      <mat-tab label="{{ 'SALES_DATA' | oTranslate }}">

        <!--  filtros de fechas -->
        <o-column-collapsible title="{{ 'FILTERS_SALES' | oTranslate }}" appearance="legacy" expanded="yes"
          icon="filter_list" class="collapsible">

          <div class="filter_style" fxLayout="column" fxLayoutGap="14px">
            <div fxLayout="row wrap" fxLayoutGap="32px">
              <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
                <o-date-input #filterStartDate attr="filterStartDate" style="margin-top: 15px" label="STARTDATE"
                  read-only="no"></o-date-input>
                <o-date-input #filterEndDate attr="filterEndDate" style="margin-top: 15px" label="ENDDATE"
                  read-only="no"></o-date-input>
                <o-button class="boton1" attr="clear" [oFilterBuilderClear]="filterBuilder" type="STROKED" label="Clear"
                  layout-padding>
                </o-button>
                <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="STROKED" label="Filter"
                  layout-padding>
                </o-button>
                <o-filter-builder #filterBuilder attr="thefilter"
                  filters="saledate_start:filterStartDate;saledate_end:filterEndDate" [target]="sales"
                  [expression-builder]="createFilter"></o-filter-builder>
              </div>
            </div>
          </div>

        </o-column-collapsible>

        <div fxLayout="column" fxLayoutAlign="start stretch" class="max-height">
          <div fxLayout="row">

            <!-- info de ventas global -->
            <o-column title="{{ 'SALES_DETAIL' | oTranslate }}" class="account-info-container mat-elevation-z1"
              fxFlex="70">

              <o-table #sales fxFlex attr="wholesaler" title="SALES" service="wholesalers"
                entity="wholesalersalesdetail" keys="sale_id"
                columns="sale_id;product_id;saledate;image;{{ currentLang }}_name;qty;sale_price;total"
                visible-columns="saledate;image;{{ currentLang }}_name;qty;sale_price;total;profit" sort-columns="saledate"
                insert-button="false" delete-button="false" query-rows="10" quick-filter="no" row-height="medium"
                select-all-checkbox="true" pageable="no" virtual-scroll="no"
                (onDataLoaded)="onSaleDataDataLoaded($event)">
                <o-table-column attr="saledate" title="SALEDATE" type="date" format="LL"></o-table-column>
                <o-table-column attr="image" title="IMAGE" async-load="true" width="48px" orderable="no" searchable="no"
                  type="image" image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
                </o-table-column>
                <!-- nombre -->
                <o-table-column attr="{{ currentLang }}_name" title="NAME" searchable="yes" orderable="yes">
                </o-table-column>
                <!-- cantidad -->
                <o-table-column attr="qty" title="QTY" class="o-table-column-right" type="integer">
                </o-table-column>
                <!-- precio -->
                <o-table-column attr="sale_price" title="PRICE" type="currency" currency-symbol="€"
                  currency-symbol-position="right" thousand-separator="." decimal-separator=",">
                </o-table-column>
                <!-- total -->
                <o-table-column attr="total" title="TOTAL" type="currency" currency-symbol="€"
                  currency-symbol-position="right" thousand-separator="." decimal-separator=",">
                </o-table-column>
                <o-table-column attr="profit" title="PROFIT" type="currency" currency-symbol="€"
                currency-symbol-position="right" thousand-separator="." decimal-separator=",">
              </o-table-column>
                <!-- sumatorio del total -->
                <o-table-column-aggregate attr="total" title="TOTAL"></o-table-column-aggregate>
                <o-table-column-aggregate attr="profit" title="PROFIT"></o-table-column-aggregate>
                <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
              </o-table>

            </o-column>

            <o-column title="{{ 'SALES_GRAPH' | oTranslate }}" class="account-info-container mat-elevation-z1"
              fxFlex="40">
              <!-- aqui va la tabla con el detalle de las ventas filtradas si es el caso -->
              <o-chart [chart-parameters]="chartParameters" #discretebar type="line" x-label="Time" y-label="Amount (€)"  x-axis="x"
                y-axis="y" x-data-type="time" ></o-chart>

            </o-column>
          </div>
        </div>
      </mat-tab>

      <!-- tab con el abc de productos -->
      <mat-tab label="{{ 'PRODUCTS_SALE_DATA' | oTranslate }}">
        <o-table fxFlex attr="product" title="PRODUCTS" service="wholesalers" entity="wholesalerbestsellers"
          keys="sale_id" columns="product_id;image;{{ currentLang }}_name;totalqty;salestotal"
          visible-columns="image;{{ currentLang }}_name;totalqty;salestotal;profit" sort-columns="totalqty desc" query-rows="24"
          quick-filter="yes" row-height="medium" select-all-checkbox="no" pageable="no" virtual-scroll="no"
          detail-mode="no" edition-mode="no" insert-button="false" delete-button="false" query-rows="12">

          <!-- imagen -->
          <o-table-column attr="image" title="IMAGE" async-load="true" width="48px" orderable="no" searchable="no"
            type="image" image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
          </o-table-column>
          <!-- nombre -->
          <o-table-column attr="{{ currentLang }}_name" title="NAME" searchable="yes" orderable="yes">
          </o-table-column>
          <!-- cantidad vendida -->
          <o-table-column attr="totalqty" title="{{ 'TOTALQTY' | oTranslate }}" type="number" searchable="yes"
            orderable="yes" thousand-separator="." decimal-separator="," content-align="end">
          </o-table-column>
          <!-- total -->
          <o-table-column attr="salestotal" title="TOTAL" type="currency" currency-symbol="€"
            currency-symbol-position="right" thousand-separator="." decimal-separator=",">
          </o-table-column>
          <!-- beneficio -->
          <o-table-column attr="profit" title="PROFIT" type="currency" currency-symbol="€"
            currency-symbol-position="right" thousand-separator="." decimal-separator=",">
          </o-table-column>
          <o-table-context-menu></o-table-context-menu>
          <o-table-column-aggregate attr="salestotal" title="TOTAL"></o-table-column-aggregate>
          <o-table-column-aggregate attr="profit" title="PROFIT"></o-table-column-aggregate>
          <o-table-paginator page-size-options="12;24;96"></o-table-paginator>
        </o-table>
      </mat-tab>

    </mat-tab-group>

  </o-form>
</div>