.info div {
    margin-top: 5%;
}
.allergens{
    margin-left: 4%;
}
.button{
    margin-left: 4%;
    margin-top: 2%;
}
.div image{
    margin-top: 20%;
}
.max-height{
    margin-top: 8%;
}
.container{
    background-color: #d4d1c4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 97%;
}
.footer-container{
    background-color: #6c7b69; 
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
input{
    background-color: #e1e1d4; 
}

o-button{
    background-color: #e3e6e8;
    color: #9f093c;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

